/* Estilos generales */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #555;
}

.container {
    background-color: #e8779d;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(225, 102, 120, 0.3);
    border: 2px solid #804fc8;
    text-align: center;
}

h1, h2 {
    color: #ff0000;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #cc082c;
}

input[type="text"], input[type="password"], input[type="number"], select {
    padding: 10px;
    border: 2px solid #a02235;
    border-radius: 12px;
    font-size: 14px;
    outline: none;
    background-color: #fffafa;
    color: #000000;
}

button {
    padding: 12px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3);
    transition: transform 0.2s;
}

button:hover {
    background-color: #7231ac;
    transform: scale(1.05);
}

button:active {
    background-color: #1f2ea2;
    transform: scale(1);
}

/* Links */
a {
    color: #661fc9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Mensajes de error */
.error {
    color: #ff4d6d;
    font-weight: bold;
    text-align: center;
}

/* Bordes decorativos para el toque kawaii */
.container::before, .container::after {
    content: "✿";
    font-size: 2em;
    color: #39269c;
    position: absolute;
}

.container::before {
    top: -10px;
    left: -10px;
}

.container::after {
    bottom: -10px;
    right: -10px;
}
